@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.container{
    display: grid;
    grid-template-areas: 
    'navbar'
    'filtros'
    'contenido'
    'footer';
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto auto auto;
}
.navbar{
    grid-area: navbar;
    background-color: #4f8b89;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar a{
    text-decoration: none;
    color: #f2f2f2;

}
.navbar__logo{
    display: flex;
    gap: 10px;
}
.navbar__icon{
    color: #f2f2f2;
    font-size: 24px;

}
.links{
    display: none;
    list-style: none;
    gap:10px;
}
.filtros{
    grid-area: filtros;
    background-color: #83b8aa   ;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.filtros__select{
    padding: 10px;
    border-radius: 8px;
}
.contenido{
    grid-area: contenido;
    background-color: #fff;
    padding: 20px;
 }
 .section-space{
    padding: 30px 0;
 }
.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.welcome p:first-child{
    text-transform: uppercase;
}
.welcome p{
    font-size: 18px;
}
.welcome h2{
    font-size: 28px;
}
.intro{
    display: flex;
    flex-direction: column;
    gap:20px
}
.intro__img{
    width: 375px;

}
.intro__img img{
    width: 100%;
    height: 100%;
}
.champs{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}
.card{
    border: 1px solid #4f8b89;
    border-radius: 8px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    background-color: #000;
}
.card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.card__title{
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 24px;

}
.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
    gap:8px;
    
}
.pagination__item{
    padding: 10px;
    background-color: #83b8aa;
    border-radius: 8px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer{
    grid-area: footer;
    color: #f2f2f2;
    background-color: #272d4d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    padding: 20px;

}
@media screen and (min-width:576px){
    .container{
        grid-template-areas:
        'navbar navbar'
        'filtros contenido'
        'footer footer';
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
    }
    .navbar__icon{
        display: none;
    }
    .links{
        display: flex;
        color: #f2f2f2;
    }
    .filtros{
        justify-content: flex-start;
    }
    .champs{
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        font-size: 16px;
    }
}

@media screen and (min-width:992px){
    .container{
        grid-template-areas: 
        'navbar filtros'
        'navbar contenido'
        'footer contenido';
        min-height: 100vh;
        grid-template-columns: 15% auto;
        grid-template-rows: auto auto 100px;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    .navbar__logo{
        margin-bottom: 20px;
        font-size: 28px;
    }
    .navbar__icon{
        display: none;
    }
    .links{
        display: flex;
        flex-direction: column;
        color: #f2f2f2;
    }
    .champs{
        grid-template-columns: repeat(4, 1fr);
    }
    .footer{
        font-size: 16px;
        text-align: center;
    }
}